@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Dancing+Script:wght@600&family=Itim&family=Kalam&family=Montserrat+Alternates&family=Nothing+You+Could+Do&family=Parisienne&display=swap');

html {
    font-size: 16px;
}

body {
    font-family: 'Itim', cursive, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

/* headings and logo */


h1 {
    font-family: 'Nothing You Could Do', cursive, sans-serif;
    letter-spacing: 2px;
    color: #252525;
    font-size: 4rem;
}

header {
    padding: 0;
}

#logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

header a:link {
    text-decoration: none;
}

/* navigation links */

nav {
    padding: 0.3rem;
}

.text-center {
    text-align: center;
}

.blue-background {
    background-color: cornflowerblue;
    color: #252525;
}

nav>a {
    text-decoration: none;
    color: #252525;
    margin: 0.5rem;
}

nav>a:hover {
    color: #ffb94d;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* introduction section */

h2 {
    font-family: 'Nothing You Could Do', cursive, sans-serif;
    letter-spacing: 2px;
}

#img-sunset {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 820px;
    display: block;
}

.text-box {
    text-align: justify;
    clear: both;
    padding: 5px 15px;
}

.border-solid {
    border-style: solid;
}

/* places page */

#places-box {
    text-align: center;
    clear: both;
    color: #252525;
}

#places-types div {
    color: white;
    width: 33%;
    height: 100px;
    float: left;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-right: 1px;
}

#places-types a {
    color: #3a3a3a;
    text-decoration: none;
    font-family: 'Nothing You Could Do', cursive, sans-serif;
}

#places-types a:hover {
    color: #ffb94d;
}

#blue-nav {
    background-color: #6699ff;
}

#purple-nav {
    background-color: #8066ff;
}

#cyan-nav {
    background-color: #66e6ff;
}

.destinations-boxes {
    width: 100%;
    position: relative;
    clear: both;
}

.destinations-boxes h3 {
    text-decoration: underline;
    margin-left: 5%;
}

.places-img {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 820px;
    display: block;
}

/* food page */

.underlined {
    text-decoration: underline;
}

.food-img {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 820px;
    display: block;
}


/* footer */

footer {
    height: 100px;
    width: 100%;
    clear: both;
    margin-top: 15px;
    bottom: 0;
}

#contact-details {
    display: inline;
    clear: both;
}

#tel {
    float: left;
    margin-top: 2%;
    margin-left: 1rem;
}

#email-footer {
    float: right;
    margin-right: 1rem;
    margin-top: 2%;
}

.social-networks {
    text-align: center;
    padding-right: 40px;
    margin-top: 0;
    clear: both;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 2rem;
    padding: 1rem;
    color: #3a3a3a;
}

/* events page */

#events-table {
    border: #8066ff solid 1px;
    margin-left: auto;
    margin-right: auto;
    max-width: 820px;
    display: block;
    background-color: rgba(128, 102, 255, 0.3);

}

#events-table tr {
    border: #8066ff solid 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

th {
    text-align: center;
}

tr, td {
    text-align: left;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

#button-section {
    margin-top: 1rem;
}

#events-button {
    margin-top: 20px;
    border-radius: 5px;
    width: 75%;
    padding: 15px 10px 15px 10px;
    text-align: center;
    font-size: 1.2rem;
    background-color: #66e6ff;
    color: #252525;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    border: 3px solid #8066ff;
}

#events-button:hover {
    color: #8066ff;
}

/* form page */

.form-section {
    clear: left;
    background-image: url('../images/tinyimages/jorge-fernandez-salas-0B1XIY4Jte8-unsplash_1tinified.jpg');
    background-size: cover;
    background-position: center;
    height: 750px;
    margin-top: 0.5rem;
}

.signup-form {
    margin: 75px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #6699ff;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #6699ff;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #66e6ff;
    color: #8066ff;
}

/* form confirmation page */

#confirmation-link {
    color: #fff;
}

/* media queries */

/* for small mobile screen size from 375px wide and up */

@media screen and (min-width: 375px) {

    .mapouter {
        margin: auto;
    }

    #img-sunset {
        max-width: 500px;
    }

    .places-img {
        max-width: 500px;
    }

    .food-img {
        max-width: 500px;
    }

    #events-table {
        margin-left: 2%;
        margin-right: 2%;
    }
}


/* for medium tablet screen size from 800px wide and up */
@media screen and (min-width: 800px) {

    body {
        font-size: 1.5rem;
    }

    nav {
        padding: 0.5em;
    }

    nav>a {
        margin: 2rem;
    }

    #img-sunset {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .places-img {
        max-width: 500px;
    }

    .food-img {
        max-width: 500px;
    }

    .left {
        float: left;
        width: 33%;
        margin-bottom: 10%;
        clear: left;
    }

    .right {
        float: right;
        margin-bottom: 3%;
    }

    #tel {
        margin-top: 2%;
        margin-left: 3rem;
    }

    #email-footer {
        margin-right: 3rem;
        margin-top: 2%;
    }

    .social-networks i {
        font-size: 160%;
        margin: 1%;
        color: #3a3a3a;
    }

    #beach-list {
        width: 50%;
        float: left;
    }

    #events-table {
        margin-left: 5%;
        margin-right: 5%;
    }

    #events-button {
        font-size: 1.6rem;
    }

    .form-section {
        height: 80vh;
    }

}

/* for large screen size from 1200px wide and up */
@media screen and (min-width: 1200px) {

    body {
        font-size: 1.5rem;
        margin-left: 10%;
        margin-right: 10%;
    }

    #img-sunset {
        max-width: 820px;
        margin-left: auto;
        margin-right: auto;
    }

    .left {
        float: left;
        margin-bottom: 10%;
    }

    .right {
        float: right;
        margin-bottom: 3%;

    }

    #events-table {
        margin-left: 10%;
        margin-right: 5%;
    }
}

/* for large screen size from 1400px wide and up */
@media screen and (min-width: 1400px) {

    body {
        font-size: 2rem;
        margin-left: 10%;
        margin-right: 10%;
    }

    #places-types div {
        height: 150px;

}