@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Dancing+Script:wght@600&family=Itim&family=Kalam&family=Montserrat+Alternates&family=Nothing+You+Could+Do&family=Parisienne&display=swap');

/* * {
    margin: 0;
    padding: 0;
    border: none;
} */

body {
    font-family: 'Itim', cursive, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    margin: 0;
}
    
/* headings and logo */


h1 {
    font-family: 'Nothing You Could Do', cursive, sans-serif;
    letter-spacing: 2px;
    color: #252525;
    font-size: 4rem;
}

header {
    background-color: white;  
    border-style: solid; 
    padding: 0;
    width: 100%;
}

header a:link {
    text-decoration: none;
}

/* navigation links */

nav {
    padding: 1rem;
    width: 100%;
}

.text-center {
    text-align: center;
}

.blue-background {
    background-color: cornflowerblue;
}

nav > a {
	text-decoration: none;
	color: #252525;
	margin: 1rem;
}

nav > a:hover {
    color: #ffb94d;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* introduction section */

h2 {
    font-family: 'Nothing You Could Do', cursive, sans-serif;
    letter-spacing: 2px;
}
    
#intro-background {
    min-height: 100px;
    overflow: hidden;
    width: 100%;
    clear: both;
    padding-left: 15px; 
    background-image: url('../images/sunset-ge84a3af5c_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

#intro-box {
    width: 95%;
    text-align: justify;
    clear: both;
    background: rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

.text-white {
    color: white;
}

.border-solid {
    border-style: solid; 
}

/* Reasons */

#reasons {
    background-image: url('../images/rondabigpixabay-1128812.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#reasons div {
    color: white;
    background-color: rgba(0, 0, 0, .6);
    width: 33%;
    height: 150px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#reasons a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/* map section */

.mapouter {
    position:relative;
    /* text-align: right; */
    height:300px;
    width:700px;
    margin-left: auto;
    margin-right: auto;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:300px;
    width:700px;
    margin-left: auto;
    margin-right: auto;
}

/* footer */

footer {
    height: 50px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* for small mobile screen size from 576px wide and up */

@media  screen and (min-width: 576px) {
    
    
}
  
  
/* for medium tablet screen size from 768px wide and up */
@media screen and (min-width: 768px) {
   
     /* map section */

.mapouter {
    position:relative;
    text-align: right;
    height:341px;
    width:575px;
    margin-top: 20px
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:341px;
    width:575px;
}


}



/* for large screen size from 992px wide and up */
@media screen and (min-width: 992px) {

    #right-link {
        padding-top: 30px;
        width: 33%;
        float: right;
    }

    #center-link {
        padding-top: 30px;
        width: 33%;
        margin: 0 auto; 
    }

    /* map section */

.mapouter {
    position:relative;
    text-align: right;
    height:356px;
    width:1052px;
    margin-top: 20px
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:356px;
    width:1052px;
}




}
