@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Dancing+Script:wght@600&family=Itim&family=Kalam&family=Montserrat+Alternates&family=Nothing+You+Could+Do&family=Parisienne&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Itim', cursive, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}
    
/* headings and logo */

h1, h2 {
    font-family: 'Nothing You Could Do', cursive, sans-serif;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 380%;
    margin-left: 15px;
}

/* navigation links */

#menu {
    font-size: 80%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit; 
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;;
}

/* introduction section */

#intro-outer {
    height: 150px;
    width: 100%;
    clear: both;
    padding-top: 20px;
    padding-left: 15px;
    background-color: rgb(127, 225, 255);
}

#intro {
   height: 50px;
   width: 100%; 
}

/* responsive design - media queries */

/* for large to medium screen size from 1200px wide and below */
@media screen and (max-width: 1200px) {

}
  
  
/* for medium screen size from 950px wide and below */
@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
        text-align: center;
    }

}

/* for medium screen size from 950px wide and below */

@media  screen and (max-width: 800px) {
    
}
